<div class="container">
	<h1>Welcome</h1>
</div>
<div class='row'>
	<div class="col s9">
		<div class="container" id="articles">
{{!-- scraped information get's appended here --}}
		</div>
		<div class="col s3" id="comments">
{{!-- comment form gets generated here via index.js --}}
		</div>
</div>
<div class="container">
{{#each scrapeMetal}}
<li>{{this.title}}</li>
<li><a href="{{this.link}}">{{this.link}}</a></li>
{{/each}}	
	</div>
<div class="row">
	<form class="col s12" name="newComment" method="POST" action="api/new-comment">
		<div class="row">
			<div class="input-field col s6">
				<input name="author" id="author" type="text" class="validate">
				<label for="author">Author</label>
			</div>
		</div>
		<br>	
		<div class="row">
			<div class="input-field col s6">
				<input name="comment" id="comment" type="text" class="validate">
				<label for="comment">Comment</label>
			</div>
		<button type"submit">Submit</button>
	</form>				
</div>	
<script src="assets/js/index.js"></script>